body{
    background: linear-gradient(45deg,darkgreen,green,lightgreen,green,darkgreen);
}
.T{
    color: darkgreen;
    text-align: center;
    text-shadow: 0 0 10px greenyellow;
    margin-top: 300px;
}